<%- include("header"); -%>
<h2>About This App</h2>
<div class="about-p">
  <p>
    This To-Do List app helps you stay organized by keeping track of your daily
    tasks. Whether it’s for work, study, or personal goals, you can easily
    create, manage, and complete tasks in one place.
  </p>
</div>
<div class="about-list">
  <h3>Key Features</h3>
  <ul>
    <li>Add Tasks</li>
    <li>Mark as Complete: Keep track of what’s done with a checkmark.</li>
    <li>Separate Lists: Maintain different lists (e.g., Work, Personal)</li>
  </ul>
</div>

<%- include("footer"); -%>
