<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <nav style="text-align: center; padding: 15px; background: #a683e3">
    <a href="/" style="margin: 0 15px; color: white; text-decoration: none"
      >Home</a
    >
    <a href="/work" style="margin: 0 15px; color: white; text-decoration: none"
      >Work</a
    >
    <a href="/about" style="margin: 0 15px; color: white; text-decoration: none"
      >About</a
    >
  </nav>
</html>
